*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

 body { margin: 0; overflow: hidden; font-family: sans-serif; 
}

#popup {
      position: absolute;
      top: 50px;
      left: 50px;
      padding: 20px;
      background: white;
      border: 2px solid #000;
      display: none;
      z-index: 10;
      max-width: 300px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
#popupClose {
      float: right;
      cursor: pointer;
      font-weight: bold;
}